.board {
  display: inline-table;
  border-collapse: collapse;
}

.corner {
  width: 1ch;
  height: calc(var(--theme-line-height-base) * 1rem);
}

.cell {
  width: 1ch;
  height: calc(var(--theme-line-height-base) * 1rem);
  background-color: var(--theme-border-subdued);
  text-align: center;
  vertical-align: middle;
}

.square {
  height: calc(var(--theme-line-height-base) * 2rem);
  text-align: center;
  vertical-align: middle;
  width: 3ch;
}

.dark {
  background-color: var(--theme-focused-foreground);
}

.light {
  background-color: var(--theme-focused-foreground-subdued);
}

.symbol {
  font-size: 40px;
  line-height: calc(var(--theme-line-height-base) * 2rem);
}
